<div ng-controller="genresCtrl">
    <!-- Page Conttent -->
		<main class="page-content">

            <!-- Fullwidth Shop Area -->
            <div class="shop-area bg-white section-padding-bottom-md">
                <div class="container">
                    <!-- Shop Breadcrumb -->
                    <div class="shop-breadcrumb">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Shop</li>
                        </ul>
                    </div>
                    <!--// Shop Breadcrumb -->

                    <div class="row">

                        <!-- Shop Page Products -->
                        <div class="col-lg-9 order-1 order-lg-2">

                            <!-- Shop Page Toolbars -->
                            <div class="shop-page-toolbars">
                                <div class="shop-toolbar-sortby" >
                                    <span>Sort By</span>
                                    <select name="shop-toolbar-sortby" ng-model="sortProduct">
                                        <option value="">Default Sorting</option>
                                        <option value="Name">Sort by Name: A-Z</option>
                                        <option value="-Name">Sort by Name: Z-A</option>
                                        <option  value="Price">Sort by Price: Low to High</option>
                                        <option value="-Price">Sort by Price: High to Low</option>
                                    </select>
                                </div>
                            </div>
                            <!--// Shop Page Toolbars -->

                            <!-- Shop Page Products -->
                            <div class="row justify-content-center shop-page-products products-wrapper">

                                <!-- Single Product -->
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" ng-repeat="x in catalogList | paginate:currentPage:pageSize | orderBy:sortProduct | filter:search">
                                    <div class="product-item">

                                        <div class="product-item-images">
                                            <a>
                                                <img ng-src="{{x.Img}}" alt="product image">
                                            </a>
                                            <a href="#!/product/{{x.Id}}" class="add-to-cart-button">
                                                <span>DETAILS</span>
                                            </a>
                                        </div>
                                        
                                        <div class="product-item-content">
                                            <div class="product-item-content-left">
                                                <h5><a href="">{{x.Name}}</a></h5>
                                                <div class="ratting-box">
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </div>
                                                <div class="price-box">
                                                    <span class="pricebox-price">{{x.Price | currency}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>    
                                </div>
                                <!--// Single Product -->

                            </div>
                            <div  class="shop-page-toolbars right-pagination ">
                                <pagination class="pagination"items-per-page="pageSize" ng-model="currentPage" total-items="catalogList.length">
                                </pagination>
                                
                                
                            </div>
                        </div>
                        <!--// Shop Page Products -->

                        <!-- Widgets -->
                        <div class="col-lg-3 order-2 order-lg-1">
                            <div class="widgets">

                                <aside class="single-widget widget-categories" >
                                    <h6 class="widget-title">By Genres</h6>
                                    <ul >  
                                        <li ng-repeat= "genres in productList">
                                            <a href="#!/genres/{{genres.Name}}">{{genres.Name}} 
                                                <span>{{genres.total}}</span>
                                            </a>
                                        </li>
                                    </ul> 
                                </aside>

                            </div>
                        </div>
                        <!--// Widgets -->

                    </div>

                </div>
            </div>
            <!--// Fullwidth Shop Area -->

			<!-- Features Area -->
			<div class="features-area">
                <div class="container">
                    <div class="row justify-content-center features-wrapper">
        
                        <!-- Single Features -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="features text-center">
                                <h6>Phone</h6>
                                <p>085 256 358 965</p>
                            </div>
                        </div>
                        <!--// Single Features -->
        
                        <!-- Single Features -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="features text-center">
                                <h6>Email</h6>
                                <p><a href="mailto:SchooluniformsA1@gmail.com.info?subject=hello" title ="gui lịnk">SchooluniformsA1@gmail.com</a></p>
                            </div>
                        </div>
                        <!--// Single Features -->
        
                        <!-- Single Features -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="features text-center">
                                <h6>Address</h6>
                                <p>391A Đ.Nam Kỳ Khởi Nghĩa,Phường 14,Quận 3,TP HCM</p>
                            </div>
                        </div>
						<!--// Single Features -->

					</div>
				</div>
			</div>
			<!--// Features Area -->

			<!-- Newsletter -->
			<div class="newsletter-brandlogo-area section-padding-xs">
				<div class="container">
					<div class="row no-gutters align-items-center">

						<!-- Newsletter -->
						<div class="col-lg-4">
                            <div class="newsletterbox" >
                                <h5>SIGN UP FOR OUR WEEKLY NEWSLETTER !</h5>
                                <form onsubmit="checkform()" >
                                    <input type="email" placeholder="Email" id="email">
                                    <button type="submit" value="submit"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
						<!--// Newsletter -->

						<!-- Brand Logo -->
						<div class="col-lg-8">
							<ul ng-repeat="x in logolist" class="img_logo">
                                <li>
                                    <img ng-src="{{x.img}}" alt="logo">
                                </li>
                            </ul>
						</div>
						<!--// Brand Logo -->

					</div>
				</div>
			</div>
			<!--// Newsletter & Brand Logos Area -->

		</main>
		<!--// Page Conttent -->
</div>
