<div ng-controller="genresCtrl">
    <!-- Page Conttent -->
		<main class="page-content">

            <!-- Fullwidth Shop Area -->
            <div class="shop-area bg-white section-padding-bottom-md">
                <div class="container">
                    <!-- Shop Breadcrumb -->
                    <div class="shop-breadcrumb">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Shop</li>
                        </ul>
                    </div>
                    <!--// Shop Breadcrumb -->

                    <div class="row">

                        <!-- Shop Page Products -->
                        <div class="col-lg-9 order-1 order-lg-2">

                            <!-- Shop Page Toolbars -->
                            <div class="shop-page-toolbars">

                                <!-- <div class="shop-toolbar-items-count">Showing 1–9 of 20 results</div> -->

                                <div class="shop-toolbar-sortby">
                                    <span>Sort By</span>
                                    <select name="shop-toolbar-sortby">
                                        <option value="0">Default Sorting</option>
                                        <option value="1">Sort By Popularity</option>
                                        <option value="2">Sort By Price</option>
                                        <option value="3">Sort By Recent</option>
                                    </select>
                                </div>

                            </div>
                            <!--// Shop Page Toolbars -->

                            <!-- Shop Page Products -->
                            <div class="row justify-content-center shop-page-products products-wrapper" ng-controller="productdetails">

                                <!-- Single Product -->
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" ng-repeat="x in dataMain | paginate:currentPage:pageSize">
                                    <div class="product-item">

                                        <div class="product-item-images">
                                            <a>
                                                <img ng-src="{{x.Img}}" alt="product image">
                                            </a>
                                            <a href="/#!movie/{{x.Id}}" class="add-to-cart-button">
                                                <span>ADD TO CART</span>
                                            </a>
                                        </div>
                                        
                                        <div class="product-item-content">
                                            <div class="product-item-content-left">
                                                <h5><a href="product-details-right-sidebar.html">{{x.Name}}</a></h5>
                                                <div class="ratting-box">
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span class="active"><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                </div>
                                                <div class="price-box">
                                                    <span class="pricebox-price">£{{x.Price}}</span>
                                                </div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                            <div class="product-item-content-right">
                                                <ul>
                                                    <li><a class="quick-view-trigger" href="#" data-bs-toggle="tooltip" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>    
                                </div>
                                <!--// Single Product -->

                            </div>
                            <div  class="shop-page-toolbars right-pagination ">
                                <pagination class="pagination"items-per-page="pageSize" ng-model="currentPage" total-items="dataMain.length">
                                </pagination>
                                
                                
                            </div>
                        </div>
                        <!--// Shop Page Products -->

                        <!-- Widgets -->
                        <div class="col-lg-3 order-2 order-lg-1" ng-controller="catalogCtrl">
                            <div class="widgets">

                                <aside class="single-widget widget-categories" >
                                    <h6 class="widget-title">phan loai</h6>
                                    <ul >  
                                        <li ng-repeat="catalog in cataloglist ">
                                            <a href="#!/genres/{{catalog.Name}}">{{catalog.Name}} 
                                                <span>so luong</span>
                                            </a>
                                        </li>
                                    </ul> 
                                </aside>

                                

                                <!-- <aside class="single-widget widget-size">
                                    <h6 class="widget-title">SIZE</h6>
                                    <ul>  
                                        <li><a href="shop-right-sidebar.html">S <span>(18)</span></a></li>
                                        <li><a href="shop-right-sidebar.html">M <span>(16)</span></a></li>
                                        <li><a href="shop-right-sidebar.html">L <span>(6)</span></a></li>
                                        <li><a href="shop-right-sidebar.html">XL <span>(11)</span></a></li>
                                        <li><a href="shop-right-sidebar.html">XXL <span>(11)</span></a></li>
                                    </ul>
                                </aside> -->

                                <!-- <aside class="single-widget widget-filter">
                                    <h6 class="widget-title">FILTER BY PRICE</h6>
                                    <div class="widget-filter-inner">
                                        <div class="range-slider" data-range_min="45" data-range_max="515" data-cur_min="180" data-cur_max="390">
                                            <div class="bar"></div>
                                            <span class="range-slider-leftgrip"></span>
                                            <span class="range-slider-rightgrip"></span>
                                        </div>
                                        <div class="widget-filter-bottom">
                                            <a href="#" class="add-to-cart-button">
                                                <span>FILTER</span>
                                            </a>
                                            <div class="widget-filter-price">
                                                <b>Price: </b> £<span class="range-slider-leftlabel"></span> - £<span class="range-slider-rightlabel"></span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </aside> -->

                            </div>
                        </div>
                        <!--// Widgets -->

                    </div>

                </div>
            </div>
            <!--// Fullwidth Shop Area -->

			<!-- Features Area -->
			<div class="features-area">
				<div class="container">
					<div class="row justify-content-center features-wrapper">

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>MONEY BACK GUARANTEED</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>FREE WORLDWIDE DELIVERY</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

						<!-- Single Features -->
						<div class="col-lg-4 col-md-6 col-12">
							<div class="features text-center">
								<h6>ONLINE SUPPORT 24/7</h6>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
							</div>	
						</div>
						<!--// Single Features -->

					</div>
				</div>
			</div>
			<!--// Features Area -->

			<!-- Newsletter -->
			<div class="newsletter-brandlogo-area section-padding-xs">
				<div class="container">
					<div class="row no-gutters align-items-center">

						<!-- Newsletter -->
						<div class="col-lg-4">
							<div class="newsletterbox">
								<h5>SIGN UP FOR OUR WEEKLY NEWSLETTER !</h5>
								<form action="#">
									<input type="text" placeholder="Email">
									<button type="submit">Subscribe</button>
								</form>
							</div>
						</div>
						<!--// Newsletter -->

						<!-- Brand Logo -->
						<!-- <div class="col-lg-8">
							<div class="brand-logos slider-navigation-2">
								<div class="brand-logo">
									<a href="#">
										<img src="img/brand-logos/brand-logo-1.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="img/brand-logos/brand-logo-2.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="img/brand-logos/brand-logo-3.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="img/brand-logos/brand-logo-4.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="img/brand-logos/brand-logo-2.jpg" alt="best brand logo">
									</a>
								</div>
								<div class="brand-logo">
									<a href="#">
										<img src="img/brand-logos/brand-logo-3.jpg" alt="best brand logo">
									</a>
								</div>
							</div>
						</div> -->
						<!--// Brand Logo -->

					</div>
				</div>
			</div>
			<!--// Newsletter & Brand Logos Area -->

		</main>
		<!--// Page Conttent -->
</div>
