<div ng-controller="productCtrl">
	<!-- Page Conttent -->
	<main class="page-content">
		<!-- Product Page Wrapper -->
		<div class="product-page-wrapper section-padding-bottom-md">
			<div class="container">

				<!-- Shop Breadcrumb -->
				<div class="shop-breadcrumb">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="shop.html">Shop</a></li>
						<li><a href="shop.html">Mens</a></li>
						<li>{{product.Name}}</li>
					</ul>
				</div>
				<!--// Shop Breadcrumb -->

				<!-- Poduct Details Wrapper -->
				<div class="row product">
					<div class="col-lg-12">
						
						<!-- Product Details Inner -->
						<div class="product-details">

							<!-- Product Details Left -->
							<div class="product-details-left">
								<div class="product-details-images slider-navigation-2">
									<a>
										<img ng-src="{{product.Img}}" alt="product image">
									</a>
								</div>
							</div>
							<!--// Product Details Left -->

							<!-- Product Details Right -->
							<div class="product-details-right">
								<h5 class="product-title">{{product.Name}}</h5>
								
								<div class="ratting-stock-availbility">
									<div class="ratting-box">
										<span class="active"><i class="fa fa-star"></i></span>
										<span class="active"><i class="fa fa-star"></i></span>
										<span class="active"><i class="fa fa-star"></i></span>
										<span class="active"><i class="fa fa-star"></i></span>
										<span><i class="fa fa-star"></i></span>
									</div>
									<span class="stock-available">In stock</span>
								</div>
								
								<p>{{product.Description}}</p>
								
								<div class="price-box">
									<span class="pricebox-price">£{{product.Price}}</span>
								</div>

								<div class="product-details-quantity">
									<div class="quantity-select">
										<input type="text" placeholder="1" value="{{product.count}}">
									</div>
									<button class="add-to-cart-button" ng-click="addToCart(product)">
										<span>ADD TO CART</span>
									</button>
								</div>

								<div class="product-details-color">
									<span>Color :</span>
									<ul>{{product.Color}}</ul>
								</div>

								<div class="product-details-color">
									<span>Categories :</span>
									<ul ng-repeat="Type in product.Type">
										<li><a href="#!/genres/{{Type.Name}}">{{Type.Name}}</a></li>
									</ul>
								</div>

								<div class="product-details-color">
									<span>Gender :</span>
									<ul ng-repeat="gender in product.Gender">
										<li><a href="">{{gender.Name}}</a></li>
									</ul>
								</div>

								<div class="product-details-tags">
									<span>Details :</span>
									<ul>
										<li><a href="">{{product.Details}}</a></li>
									</ul>
								</div>

								<div class="product-details-socialshare">
									<span>Share :</span>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div> 
							</div>
							<!--// Product Details Right -->
			
						</div>
						<!--// Product Details Inner -->
						
						<!-- Product Details Review -->
						<div class="product-descripton-review">

							<ul class="nav" id="product-description-review" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="product-description-tab" data-bs-toggle="tab" href="#product-description" role="tab" aria-controls="product-description" aria-selected="true">Description</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="product-reviews-tab" data-bs-toggle="tab" href="#product-reviews" role="tab" aria-controls="product-reviews" aria-selected="false">Reviews (1)</a>
								</li>
							</ul>
	
							<div class="tab-content" id="product-description-review-content">
								<div class="tab-pane fade show active" id="product-description" role="tabpanel" aria-labelledby="product-description-tab">
									<div class="product-description">
										<p>{{product.Description}}</p>
									</div>
								</div>
								
							</div>
	
						</div>
						<!--// Product Details Review -->

					</div>
					
										

				</div>
				<!--// Poduct Details Wrapper -->

			</div>
									
		</div>
		<!--// Product Page Wrapper -->

	</main>
	<!--// Page Conttent -->

</div>
